* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.blur {
    filter: blur(16px);
}


.container {
    margin: 0 auto;
    width: 1290px;
}


/*styles for addition*/

.addition {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s;
}

.addition__modal {
    display: flex;
    position: relative;
    width: 1070px;
    height: 680px;
    background-color: #fff;
    border-radius: 24px;
    padding: 20px;
    opacity: 0;
    transform: translateY(25%);
    transition: transform 0.2s, opacity 0.2s;
    transition-delay: 0.2s;
}

.is-open > .addition__modal {
    opacity: 1;
    transform: translateY(0);
}

.addition__close-btn {
    position: absolute;
    right: -60px;
    top: 0;
}

.addition__label {
    top: 40px;
    left: 0;
    width: 65px;
    height: 32px;
    position: absolute;
    background-color: #E23535;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    font-size: 14px;
    line-height: 18px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
}

.addition__img {
    display: flex;
    padding: 0 40px;
    align-items: center;
}

.addition__menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.addition__title {
    display: flex;
    justify-content: space-between;
}

.addition__title-box {
    display: flex;    
    font-weight: 600;
    font-size: 20px;
    align-items: center;
}

.addition__title-img {
    margin-right: 11px;
}

.addition__items {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.addition__item {
    display: flex;
    width: 105px;
    height: 105px;
    border-radius: 12px;
    border: 1px solid #F0F0F0;
    align-items: center;
    justify-content: center;
}

.addition__item-name {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    width: 105px;
    text-align: center;
}

.addition__size {
    margin-top: 24px;
    display: flex;
    width: 100%;
    font-size: 16px;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
}


.addition__size-dough{
    padding: 13px 0px;
    width: 50%;
    text-align: center;
}

.addition__size-sm {
    padding: 13px 0px;
    width: 33%;
    text-align: center;
}

.addition__add-to {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.addition__text {
    font-size: 16px;
    font-weight: 600;
}

.addition__item-price {
    margin-top: 4px;
    color: #FF7010;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.addition__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.addition__sum{
    display: flex;
    align-items: end;
}

.addition__sum-price {
    font-weight: 600;
    font-size: 20px;
    color: #FF7010;
    line-height: 28px;
    margin-right: 12px;
}

.addition__sum-weight {
    font-size: 14px;
    color: #A5A5A5;
    line-height: 24px;
}

.addition__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 40px;
    background: #FF7010;
    color: white;
    border-radius: 6px;
}


/*styles for filter*/

.filter {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s;
}

.is-open {
    opacity: 1;
    transform: scale(1);
}

.filter__modal {
    z-index: 1;
    background-color: #fff;
    display: flex;
    position: relative;
    opacity: 0;
    flex-direction: column;
    height: 96%;
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 32px;
    padding-bottom: 12px;
    transform: translateX(50%);
    transition: transform 0.2s, opacity 0.2s;
    transition-delay: 0.2s;
}

.is-open > .filter__modal  {
    opacity: 1;
    transform: translateX(0);
}


.filter__title {
    display: flex;
    flex-grow: 0;
    width: 100%;
    justify-content: space-between;
}

.filter__title-text {
    font-size: 32px;
    font-weight: 600;
}

.filter__close-btn {
    align-items: center;
    cursor: pointer;
}

.filter__category {
    margin-top: 20px;
    width: 510px;
    flex-grow: 1;
}

.filter__category-text {
    font-size: 16px;
    color: #A5A5A5;
}

.filter__category-items {
    display: flex;
    flex-wrap: wrap;
}

.filter__category-item {
    font-size: 16px;
    text-align: center;
    padding: 11px 16px;
    border-radius: 6px;
    border: 1px solid #F0F0F0;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.filter__category-item:hover {
    border: 1px solid #FF7010;
    color: #FF7010;
}

.filter__footer {
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
}

.filter__footer-btn {
    width: 230px;
    padding: 13px 0px;
    color: #FF7010;
    border: 1px solid #FF7010;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.selected {
    color: #fff;
    background-color: #FF7010;
    border: 1px solid #FF7010;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}

.selected:hover {
    color: #fff;
}

/* styles for header */

.header {
    background-color: white;
    border-bottom: 1px solid #F9F9F9;;
}

.short-header {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    height: 68px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 32px;
    height: 32px;
}

.short-header__logo {
    display: flex;
    align-items: center;
}

.short-header__logo-img {
    margin-right: 12px;
}

.short-header__logo-text {
    font-size: 20px;
    font-weight: 500;
}

.short-header__nav {
    display: flex;
    margin-right: 200px;
}

.short-header__menu {
    display: flex;
    list-style: none;
}

.short-header__link {
    text-decoration: none;
    color: black;
}

.short-header__list-item {
    font-size: 16px;
    padding: 0 16px;
}

.short-header__cart {
    background-color: #FF7010;
    padding: 8px 16px;
    color: white;
    line-height: 16px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.short-header__cart-img {
    margin-right: 10px;
}

/*styles for main */

.main {
    display: flex;
    background-color: #F9F9F9;
    flex: 1 0 auto;
}

.main__content {
    margin-top: 32px;
}

.main__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    margin: 0;
}

.main__filter {
    box-sizing: border-box;
    border: 1px solid #F0F0F0;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 8px 16px;
    background-color: #fff;
    cursor: pointer;
}

.main__filter:hover {
    border: 1px solid #E23535;
}

.main__filter-img {
    margin-right: 8px;
}

.main__goods {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__item {
    height: 480px;
    width: 300px;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    margin-bottom: 28px;
}

.main__item_label {
    top: 20px;
    left: 0;
    width: 65px;
    height: 32px;
    position: absolute;
    background-color: #E23535;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    font-size: 14px;
    line-height: 18px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
}

.main__item-text {
    display: flex;
    flex-direction: column;
    margin: 16px 20px;
}

.main__item-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
}

.main__title-p {
    font-size: 16px;
    line-height: 22px;
}

.main__order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 20px;
}


.main__btn {
    width: 130px;
    height: 50px;
    border-radius: 6px;
    background-color: #FF7010;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__price {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FF7010;
}
