@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueRegular.woff') format('woff'),
    url('../fonts/BebasNeueRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', serif;
}

.header {
    background-color: #635854;
    border-bottom: 4px solid #3596F5;
}

.navbar {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.navbar__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}

.navbar__item {
    padding: 12px 40px;
}

.navbar__item:hover {
    background-color: #3596F5;
    
}

.navbar__item_active {
    background-color: #3596F5;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    
}

.navbar__link {
    text-decoration: none;
    color: #fff;
}

.navbar__item_active {
    background-color: #3596F5;
}
none
.navbar__contacts {
    text-align: right;
}

.navbar__text {
    display: block;
    color: #fff;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
}

.navbar__phone {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
}

.main {
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;
    display: flex;
}

.home path{
    opacity: 0;
    cursor: pointer;
}

.home path:hover {
    opacity: 1;
}

path.current-floor {
    opacity: 1;
}

.main__info {
    margin: 70px 0 70px 0;
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter__button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.counter__arrow-down {
    transform: rotate(180deg);
}

.main__title {
    margin: 0;
    font-family: 'Bebas Neue Regular';
    font-size: 37px;
    line-height: 44px;
    color: #635854;
}

.counter__number {
    font-family: 'Bebas Neue Regular';
    font-size: 124px;
    color:#635854;
    margin-top: 10px;
}

.button__primary {
    background-color: #3596F5;
    padding: 16px 36px;
    border-radius: 6px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s;
}

.is-open {
    opacity: 1;
    transform: scale(1);
}

.modal__dialog {
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    position: relative;
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 0.2s, opacity 0.2s;
    transition-delay: 0.2s;
}

.is-open > .modal__dialog {
    opacity: 1;
    transform: translateY(0);
}

.modal__image {
    background-color:#EBEBEB;
    width: 60%;
    text-align: center;
    padding: 50px;
}

.modal__title {
    font-family: 'Bebas Neue Regular';
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 25px 0;
}

.modal__info {
    padding: 50px 50px;
    width: 40%;
}

.flat__item {
    margin-bottom: 10px;
}

.flat__list {
    padding: 0;
    list-style: none;
    margin-top: 55px;
}

.flat__link {
    font-size: 16px;
    line-height: 19px;
    color: #635854;
    text-decoration: none;
}

.flat__link:hover {
    text-decoration-line: underline;
    color: #3596F5;
}

.modal__alert {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #9b867e;
    margin-top: 56px;
}

.modal__button-close {
    position: absolute;
    right: 27px;
    top: 38px;
    cursor: pointer;
    border: none;
    background-color: #fff;
}

.flats path {
    opacity: 0;
    cursor: pointer;
}

.flats path:hover {
    opacity: 1;
}